run = "uvicorn main:app --host 0.0.0.0 --port 8000"
modules = ["python-3.11"]

[nix]
packages = ["cacert", "cargo", "libiconv", "libxcrypt", "redis", "rustc"]

[[ports]]
localPort = 6379
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 80

